body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.Main-Menu li{
    display: inline-block;
    margin-left: -5px;
}
.Main-Menu li a{
    padding: 10px 80px;
    background-color: rgba(40, 9, 94, 0.884);
    color: white;
    display:inline-block;
    border: 1px solid red;
    text-decoration: none;
    
} 
.Main-Menu{text-align: center;}
section{
    height:400px;
    padding-bottom:150px;
    display: flex;
    margin-bottom: 80px;
}
.top-section{
    margin-left: 0px;
}
.div-width{
    width:50%;
    float: left;
    margin-left: 5%;
    padding-left:5%;
}
span{
    color: orange;
}
.anchor-button{
    text-decoration: none;
    background:linear-gradient(blue,skyblue);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}
.recipies{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 200px;
}
.div-width img{
    width: 70%;
}
#scnd-img{
    height:550px;
}
.middle-section{
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;

}
#about{
    text-align: center;
    margin-top: 150px;
}
.recipies{
   width: 600px;
   text-align: center;
   margin-bottom: 10px;
}
.recipie-title{
    margin-top: 80px;
    margin-bottom: 3px;
    text-align: center;
}
#leftbox {
    float:left; 
    box-shadow: 5px 7px 40px blue;
    width:33%;
    height:600px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left:10px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}
#middlebox{
    float:left; 
    box-shadow: 5px 7px 40px blue;
    width:33%;
    height:600px;
    border-radius: 15px;
    margin-bottom: 5px;
   padding-bottom: 5px;
   padding-right: 20px;
   padding-left: 20px;
}
#rightbox{
    float:right;
    box-shadow:5px 7px 40px blue;
    width:33%;
    height:600px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}
.recipie-img{
    width: 400px;

}
.recipie-div1{
    height:300px ;
    position: relative;
    text-align: center;
}
.recipie-div2{
    height:300px ;
    position: relative;
    text-align: center;
}
.recipie-div3{
    height:300px ;
    position: relative;
    text-align: center;
}
footer{
    text-align: center;
    background-color: rgba(14, 2, 10, 0.885);
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 10px;
    margin-top: 100px;
}
footer h2{
    color: rgb(46, 226, 10);
}
footer p{
    color: salmon;
}
